@charset "utf-8";
#container{width:1000px;position:relative;margin:0 auto;}

/*---------logo,导航----------*/
#top{width:1000px;position:absolute;border:solid 0px gray;}
#logo{height:80px;width:990px;position:absolute;top:0;background:url(../images/logo.png) no-repeat;float:left;}
#logo table{float:right;margin-top:30px;}
#logo img{width:27px;height:27px;margin:0px 0 0 10px;float:right;}
#logo input{width:200px;height:20px;}
#img1{width:1000px;position:absolute;top:83px;}
/*---导航----*/
#nav{width:1000px;position:absolute;top:273px;border:solid 0px blue;}
#menu{width:100%;height:33px;background:#950306;position:relative;top:0;float:left;}
#menu li{width:100px;float:left;background:transparent;}
#menu a{font-size:14px;color:white;text-align:center;line-height:33px;letter-spacing:4px;width:95px;height:33px;font-weight:bold;font-weight:bold;display:block;}
#menu a:hover{color:red;}

/*------内容----------*/
#main{width:1000px;position:absolute;top:315px;border:solid 0px blue;}
/*------left------*/
#left{width:200px;position:absolute;float:left;}
#l1{width:200px;height:320px;position:relative;background: #eac971; border:solid 1px #B6B6B6;}
#lun img{width:200px;}
#lun{width:200px;height:217px;}
#lun2{height:115px;margin-top:10px;letter-spacing:1px;}
#lun2 a{font-size: 12px;line-height:20px;color:black;}
#lun2 span{padding-left:31px;}
#lun2 a:hover{color:#A6A6A6;}
#lun2 img{float:right;margin-right:5px;margin-top:5px;_display:inline;}
#l2{height:395px;width:180.8px;position:relative;border:solid 1px #B6B6B6;padding:10px;background: #f5f5f5;}
#l2 strong{width:102px;height:14px;font-size:15px;color:4E8BCA;background: url(../images/leftsubbg.png) no-repeat;margin-top:10px;padding-left: 25px;letter-spacing:4px;float:left;border:solid 0px blue;}
.leftnav{float:left;margin-top: 10px;}
#l2 ul{margin-left:27px;}
#l2 ul li{width:73px;font-size:12px;float:left;}
#l2 ul li a{width:56px;height:23px;font-size:12px;color:black;line-height: 23px;text-align:center;letter-spacing:2px; border-bottom:dotted 1px black;}
#l2 ul li a:hover{color:#A6A6A6;}

/*-----mid------*/
#mid{width:500px;position:absolute;left:205px;float:left;}
#mid strong{width:460px;height:33px;color:#AA0000;font-size:14px;line-height:28px;letter-spacing:2px;margin-left:5px;padding-left:25px;background:url(../images/midsubbg.jpg) no-repeat;float:left;border:solid 0px blue;}
#m1{width:500px;height:238px;position:relative;border:solid 0px red;}
#m2{width:500px;height:238px;position:relative;margin-top:5px;border:solid 0px red;}
#m3{width:500px;height:238px;position:relative;margin-top:5px;border:solid 0px red;}
#mid strong a{float:right;}

.midnav{float:left;margin-top: 5px;}
.midnav ul li{width:470px;float:left;padding-left: 15px;}
.midnav ul li a{font-size:12px;color:#3E3A39;line-height: 28px;text-align: left;}
/*---------right---------*/
#right{width:280px;position:absolute;left:715px;float:right;}
#r1{width:280px;height:228px;position:relative;border:solid 1px #B6B6B6;border-top:none;border-radius:8px;background: url(../images/r1bg.jpg) no-repeat;}
#r1 img{float:left;margin-top:0px;}
#button{float:left;width:280px;height:18px;background: #888;}
#r1 input{float:right;width:18px;height:18px;}
#r2{width:280px;height:120px;position:relative;margin-top:5px;border:solid 1px #B6B6B6;border-top:none;border-radius:8px;}
#right strong{float:left;width:250px;height:36px;font-size: 14px;line-height:36px;color:#e97026;letter-spacing:2px;padding-left: 30px;background: url(../images/rightsubbg.jpg) no-repeat;}
#r2 a{font-size:12px;color:black;line-height:21px;padding-left: 30px;letter-spacing: 2px;}
#r2 a:hover{color:#A6A6A6;}
#r3{width:280px;height:115px;position:relative;margin-top:5px;border:solid 1px #B6B6B6;border-top:none;border-radius:8px;}
#r3 ul{float:left;}
#r3 ul li{float:left;margin-top:10px;}
#r3 ul li a{font-size:12px;color:black;line-height:25px;padding-left: 10px;letter-spacing: 2px;}
#r3 ul li a:hover{color:#A6A6A6;}
#r4{width:280px;height:115px;position:relative;margin-top:5px;border:solid 1px #B6B6B6;border-top:none;border-radius:8px;}
#r4 table{float:left;font-size:12px;letter-spacing:4px;margin-left: 50px;_display:inline;}
#r4 table tr{width:115px;height:15px;}
#r4 table tr td input{width:115px;height:17px;}
#r5{width:280px;height:115px;position:relative;margin-top:5px;border:solid 1px #B6B6B6;border-top:none;border-radius:8px;}
#r5 table{font-size:12px;float:left;font-size:12px;line-height:30px;letter-spacing:2px;margin-left: 30px;_display:inline;}
#r5 table tr{height:15px;}
#r5 table tr td select{width:130px;height:16px;}
/*----------底部-----------*/
#bottom{width:1000px;height:90px;position:absolute;top:1060px;background:#959595;text-align: center;}
#foot{width:570px;margin:0 auto;}
#fleft{width:350px;height:80px;float:left;}
#fleft img{float:right;}
#fmid{width:285px;height:80px;font-size:12px;color:white;line-height:20px;margin-top:10px;float:left;}
#fright{width:350px;height:80px;margin-top:10px;float:left;}
#fright img{float:left;}